.card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4rem;
    max-lines: 3;
}
.row{
    margin: 5px !important;
}
hr{
    margin:0!important;
    padding: 0!important;
}
#timestamp{
    font-size: 8pt;
    color: grey;
    align-self: flex-end;
    padding:0 5px;
}
